<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<body>

<%= render "items/menu" %>

<div class="login">
  <h2><%= link_to 'sign in', new_user_session_path, class:"out" %></h2>

  <h2 class="in"> sign up </h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= f.text_area :nickname, autofocus: true, autocomplete: "nickname", class:"text" %>
     <div class="text-option">nickname</div>

    <br>
    
    <br>
   
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"text", type:"text" %>
     <div class="text-option">email</div>

    <br>
    
    <br>

    <%= f.password_field :password, autocomplete: "new-password", class:"text"%>
      <div class="text-option">password</div>

    <br>
    
    <br>

    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"text" %>
      <div class="text-option">password</div>
    <br>

    <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
    <label for="checkbox-1-1">Keep me Signed in</label>
    
    <button class="signin">
      Sign Up
    </button>


    <hr>

  <% end %>

</div>

</body>
