<div class='main'>

<%= render "menu" %>


<div class="item-new">
<h1 class="new-top">POST</h1>
<%= form_with model: @item, class: 'form', local: true do |f| %>
  <div>
  <ul>
    <li><%= f.text_field :name, class: 'text-new', placeholder: 'name' %></li>
    <li><%= f.text_field :description, class: 'text-new', placeholder: 'description' %></li>
    <li><%= f.text_field :url, class: 'text-new', placeholder: 'url' %></li>
    <li><label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label></li>
  </div>
  </ul>
  <%= f.submit 'SEND', class:"new-submit" %>
<% end %>
</div>

</div>