<div class='main'>

<%#<div id="splash">
<div id="splash_text"></div>
<!--/splash--></div>%>

<%= render "menu" %>

  <%# スライドショー %>

  <div id="slider">
  <!--/slider-->
    <h2 class='slider-title'>
      <%= image_tag "title2.png" %>
    </h2>
  </div>

  <%# /スライドショー %>

  <h1 class="guide">POSTS LIST</h1>

  <%# ギャラリー表示 %>
  
    <ul class="gallery">
      <li><% @items.each do |item| %>
        <%= link_to item_path(item.id) do %>
          <div class="fadeUpTrigger">
          <%= image_tag item.image, class: "item-image" %>
          <span class='item-name'>
            <%= item.name %>
          </span>
          </div>
        <% end %>
      <% end %>
      </li>
    </ul>
  
  <%# /ギャラリー表示 %>

</div>