<div class='main'>

<%= render "menu" %>

<%# 商品の概要 %>
<div class="item-show">

  <br>

  <div>
    <%= image_tag @item.image ,class:"item-show-image" %>
  </div>

  <br>

  <div>
    <h4>タイトル</h4>
    <div><%= @item.name %></div>
    <br>
    <h4>詳細</h4>
    <div><%= @item.description %></div>
    <br>
    <h4>投稿者</h4>
    <div><%= @item.user.nickname %></div>
    <br>
    <h4>URL</h4>
    <div><%= @item.url %>
  </div>

  <br>

  <% if user_signed_in? && current_user.id == @item.user_id %>
    <%= link_to "商品の編集", edit_item_path, method: :get %>
    <p class="or-text">or</p>
    <%= link_to "削除", item_path, method: :delete %>
  <% end %>

</div>
<%# /商品の概要 %>

<%# コメント機能 %>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@item, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= comment.user.nickname %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
<%# /コメント機能 %>

</div>

